* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 990px;
    max-width: 80%;
}

img {
 width: 100%;
}

.mobile-container {
    background-color: white;
    width: 400px;
    padding: 1em;
}

header {
    padding: 1em;
}

ul li {
    list-style-type: none;
}

.fav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 1em auto;
}

.fav-container > ul {
    display: flex; 
    justify-content: center;
}

.fav-container > img {
    border-radius: 100%;
}