* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url("/countdown-timer/assets/stanley-dai-QLfjlyEamV4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.3);
    padding: .5em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    max-width: 80%;
}
h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin: 1rem auto;
}
.big-text {
    font-size: 5rem;
    color: white;
    margin: 0 .5rem;
}

.timer-elements {
    text-align: center;
    width: 150px;
    min-width: 120px;
}
.timer-elements span {
    color: white;
    margin: auto;
}

/* Event */
.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

}
#controls {
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

.show {
    display: none;
}
#btn {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    padding: 5px 8px;
    opacity: .8;
    font-size: 1.2em;
}

#btn:hover {
    color: black;
    background-color: white;
}
h2 {
    font-size: 3rem;
}
input[type="text"] {
  	height: 30px;
  	font-size: 1rem;
  	border: 1px solid gray;
    margin-bottom: .5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    background-color: none;
    
}