* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.container {
    height: 50vh;
    width: 500px;
    max-width: 90%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 10px;
}

.note-header {
    background-color: aqua;
    height: 50px;
    width: 100%;
}

.note-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    background-color: aquamarine;
    border: none;
    cursor: pointer;
}