* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.container {
    overflow: hidden;
    width: 500px;
    max-width: 90%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 10px;
}

.note-header {
    background-color: aqua;
    height: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i, .close, .setting {
    cursor: pointer;
    padding: 5px;
}

.main {
    height: 30vh;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
}



